
body{
    background-color: #dcdde1;
    margin: 0px;
}
header{
    width: 100%;
    display:flex ;
    height: 60px;
    border-bottom: 3px solid black;
    background-color: white;
    }
.logo{
    width: 50%;
    display: flex;
    justify-content: center;
   
    
}
img{
    height: 60px;
    
}
.links{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.nev-button{
    cursor: pointer;
    margin-left: 4px;
    background-color:white;
    border: none;
    font-size: 15px;
   
}
.nev-button:hover{
    background-color: #718093;
    border-top: 4px solid #7f8fa6;
}
hr{
    border: 1px solid black;
    width: 100%;
    
}
#Stopwatch{
    display: grid;
    
    
    
    width: 100%;
    height: 100%;
  
    
}
.stopwatch-text{
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
#display{
   
   
    border-radius: 5px;
    display: flex;
    font-size: 100px;
    justify-self: flex-start;
    margin-left: 60px;
    
    
    
}
.timer{
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-left: 4px;
}
.button{
    margin: 9px;
    height: 40px;
    width: 90px;
    border: 3px solid black;
    border-radius: 50px;
    cursor: pointer;
    
    
}
.keys{
    margin-top: 3px;
    width: 70%;
    display: flex;
    justify-content: center;
    

   
    
}
.start{
    background-color: green;
}
.paus{
    background-color: red;
}
.stop{
    background-color: yellow;
}
@media screen and (max-width: 412px){
    header{
        width: 100%;
        height: 40%;
    }
    .button{
        margin: 9px;
        height: 80px;
        width: 130px;
        border: 3px solid black;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
    }
    .logo{
        width: 50%;
        display: flex;
        justify-content: center;
       
        
    }
    img{
        height: 100px;
        
    }
    .links{
        width: 50%;
        display: flex;
        justify-content: center;
        
    }
    .nev-button{
        cursor: pointer;
        margin-left: 4px;

        background-color:white;
        border: none;
        font-size: 25px;
       
    }
    .stopwatch-text{
        margin-left: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
    }
    #display{
   
   
        border-radius: 5px;
        display: flex;
        font-size: 150px;
        justify-self: flex-start;
        margin-left: 60px;
        
        
        
    }
    .timer{
        width: 40px;
        height: 40px;
        margin: 0px;
        margin-left: 4px;
    }
   
    .keys{
        margin-top: 3px;
        width: 70%;
        display: flex;
        justify-content: center;
        
    
       
        
    }
    .start{
        background-color: green;
    }
    .paus{
        background-color: red;
    }
    .stop{
        background-color: yellow;
    }
    
}


